<div class="tabs content-grid__tabs">
  <ul class="tabs__list">
    <%= admin_link "Home", [admin_index_path] %>
    <%= admin_link "Users", [admin_users_path] %>
    <%= admin_link "Components", [components_admin_index_path] %>
  </ul>
</div>