<div class="tabs content-grid__tabs">
  <ul class="tabs__list tabs__list--underline">
    <%= settings_link "General", [settings_path] %>
    <%= settings_link t("devise.otp.otp_tokens.title"), [user_otp_token_path] %>
  </ul>
</div>