<% title "Personal Information" %>

<%= form_with url: onboarding_path, method: :patch, class: "card content-grid__content" do |f| %>
  <div class="card__header">
    <h2 class="heading-2">Personal Information</h2>
  </div>
  <div class="card__body">
    <p>Please enter your personal information</p>
    <div class="field"></div>
  </div>
<% end %>