@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-fade-in {
  from {
    opacity: 0;
    transform: translateY(-0.15rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
