:root {
  --border-shadow-transition: border 0.2s ease, box-shadow 0.2s ease;
  --brand-shadow: 0 0 0 0.153rem var(--brand-100);
  --brand-border: 1px solid var(--brand-200);
  --shadow-sm: 0rem 0.188rem 0.188rem 0rem rgba(0, 0, 0, 0.03),
    0rem 0rem 0.063rem 0rem rgba(0, 0, 0, 0.05),
    0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
  --shadow-md: 0rem 0.625rem 2.375rem -0.625rem rgba(22, 23, 24, 0.35),
    0rem 0.625rem 1.25rem -0.938rem rgba(22, 23, 24, 0.2);
}

p {
  font-size: 0.8125rem;
}

.heading-1 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.0188rem;
}

.heading-2 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.0188rem;
}

.heading-3 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.0188rem;
}

.heading-4 {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.0188rem;
}

.subtitle {
  font-size: 0.8125rem;
  color: var(--neutral-600);
}

.negative-dollar,
.error-text {
  color: var(--red-400);
}

.body-1 {
  font-size: 0.8125rem;
  font-weight: 400;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-container {
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis-container__text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-text {
  text-align: center;
  padding: 1rem 0;
  color: var(--neutral-600);
  font-size: 0.75rem;
}

.relative-box {
  position: relative;
  width: 100%;
}

.relative-box__top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.separator {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--neutral-100);
  }
}

.separator--has-text {
  padding: 1rem 0.5rem;

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 0 0.5rem;
    font-size: 0.8125rem;
    font-weight: 300;
    color: var(--neutral-600);
  }
}

.separator--text-lg {
  &::after {
    width: 11rem;
  }
}

.separator__text {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  font-size: 0.8125rem;
  font-weight: 300;
  color: var(--neutral-600);
  padding: 0 0.5rem;
}

.log {
  border: 2px solid var(--red-400);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red-500);
}
